@import "tailwindcss";

:root {
  /* colors */
  --white: oklch(100% 0 0);
  --gray-100: oklch(93.69% 0.0029 264.69);
  --gray-200: oklch(87.26% 0.0059 264.6);
  --gray-300: oklch(67.53% 0.0113 261.8);
  --gray-400: oklch(25.98% 0.0161 264.24);
  --gray-500: oklch(20.99% 0.0103 264.33);
  --gray-600: oklch(19.84% 0.0096 268.21);
  --gray-700: oklch(18.18% 0.0088 264.33);
  --gray-800: oklch(15.46% 0.0066 270.98);
  --blue-100: oklch(71.14% 0.0861 255.92);
  --blue-200: oklch(62.99% 0.1952 257.29);
  --blue-300: oklch(51.91% 0.1577 257.31);
  --blue-400: oklch(27.82% 0.0741 256.71);
  --cyan-100: oklch(85.97% 0.1402 204.74);
  --cyan-200: oklch(54.02% 0.0864 204.28);
  --cyan-300: oklch(36.54% 0.0563 203.79);

  /* typography */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  --letter-spacing-none: 0;
  --font-weight-bold: bold;
  --font-weight-normal: normal;

  /* font-size */
  --font-size-hg: 48px;
  --font-size-xl: 32px;
  --font-size-lg: 28px;
  --font-size-md: 24px;
  --font-size-sm: 20px;
  --font-size-xs: 16px;
  --font-size-body-md: 16px;
  --font-size-body-sm: 14px;
  --font-size-body-xs: 12px;
}

@theme inline {
  --color-white: var(--white);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-cyan-100: var(--cyan-100);
  --color-cyan-200: var(--cyan-200);
  --color-cyan-300: var(--cyan-300);
  --font-inter: var(--font-inter-sans);
  --font-sans: var(--font-pt-sans);
  --color-background: var(--color-gray-700);
}

body {
  background: var(--color-gray-700);
  color: var(--color-white);
  font-family: Inter, sans-serif;
}

@layer components {
  .padding-container {
    margin-inline: auto;
    max-width: var(--container-7xl);
    padding-inline: calc(var(--spacing) * 4);

    @media (width >= 40rem /* 640px */) {
      padding-inline: calc(var(--spacing) * 6) /* 1.5rem = 24px */;
    }
  }
}

@layer base {
  .heading-hg,
  .heading-xl,
  .heading-lg,
  .heading-md,
  .heading-sm,
  .heading-xs {
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-none);
    font-weight: var(--font-weight-bold);
  }

  .heading-hg {
    font-size: var(--font-size-hg);
  }
  .heading-xl {
    font-size: var(--font-size-xl);
  }
  .heading-lg {
    font-size: var(--font-size-lg);
  }
  .heading-md {
    font-size: var(--font-size-md);
  }
  .heading-sm {
    font-size: var(--font-size-sm);
  }
  .heading-xs {
    font-size: var(--font-size-xs);
  }

  .body-md,
  .body-sm,
  .body-xs {
    line-height: var(--line-height-normal);
    letter-spacing: var(--letter-spacing-none);
    font-weight: var(--font-weight-normal);
  }

  .body-md {
    font-size: var(--font-size-body-md);
  }
  .body-sm {
    font-size: var(--font-size-body-sm);
  }
  .body-xs {
    font-size: var(--font-size-body-xs);
  }
}
